Repository NN-complr-tech/compiler-course-2025, pull requests merged in 2025-06, with the labels that each got.

#181 Частов Вячеслав 3822Б1ФИ2 Лабораторная работа 2 Вариант 1
  llvm/compiler-course/llvm-ir/chastov_v_lab2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/chastov_v_lab2/chastov_v_llvm_ir_lab2_var1.cpp
  llvm/test/compiler-course/chastov_v_lab2/test_llvm_ir.ll
Labels: lab:llvm ir, delayed, tests

#185 Маркин Иван. Лабораторная работа №3. Backend. Вариант 3.
  llvm/compiler-course/backend/markin_i_fmuladd_lab3_var3/CMakeLists.txt
  llvm/compiler-course/backend/markin_i_fmuladd_lab3_var3/FmuladdPass.cpp
  llvm/test/compiler-course/markin_i_fmuladd_lab3_var3/test.mir
Labels: lab:backend, delayed, tests

#186 Строганов Михаил 3822Б1ФИ2 Лабораторная работа 1 Вариант 1
  clang/compiler-course/stroganov_m_lab1/CMakeLists.txt
  clang/compiler-course/stroganov_m_lab1/stroganov_m_lab1.cpp
  clang/test/compiler-course/stroganov_m_lab1/stroganov_m_lab1.cpp
Labels: lab:clang, delayed, tests

#187 Частов Вячеслав 3822Б1ФИ2 Лабораторная работа 1 Вариант 1
  clang/compiler-course/chastov_v_lab1/CMakeLists.txt
  clang/compiler-course/chastov_v_lab1/chastov_v_lab1.cpp
  clang/test/compiler-course/chastov_v_lab1/chastov_v_lab1.cpp
Labels: lab:clang, delayed, tests

#180 Дормидонтов Егор. Лабораторная работа 1. Clang AST. Вариант 4
  clang/compiler-course/egor_dormidontov_lab1/CMakeLists.txt
  clang/compiler-course/egor_dormidontov_lab1/lab1_ast_egor.cpp
  clang/test/compiler-course/dormidontov_egor_lab1/test_lab1.cpp
Labels: lab:clang, delayed, tests

#189 Ополин Дмитрий. Лабораторная работа 4. MLIR. Вариант 3.
  mlir/compiler-course/opolin_d_lab4_var3/CMakeLists.txt
  mlir/compiler-course/opolin_d_lab4_var3/RemLowgPass.cpp
  mlir/test/compiler-course/opolin_d_lab4_var3_test/test.mlir
Labels: lab:mlir, delayed, tests

#188 Седова Ольга 3822Б1ФИ1 лабораторная 2, вариант 3
  llvm/compiler-course/llvm-ir/sedova_o_lab2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/sedova_o_lab2/ExamplePass.cpp
  llvm/test/compiler-course/sedova_o_lab2/test_llvm_ir_add.ll
  llvm/test/compiler-course/sedova_o_lab2/test_llvm_ir_no_add.ll
Labels: lab:llvm ir, delayed, tests

#191 Кабалова Валерия. Лабораторная работа 3. Вариант 2.
  llvm/compiler-course/backend/kabalova_backend/CMakeLists.txt
  llvm/compiler-course/backend/kabalova_backend/backend.cpp
  llvm/test/compiler-course/kabalova_backend/last_dance.mir
Labels: lab:backend, delayed, tests

#190 Маркин Иван. Лабораторная работа 4. MLIR. Вариант 1.
  mlir/compiler-course/markin_i_lab4_var1/CMakeLists.txt
  mlir/compiler-course/markin_i_lab4_var1/TraceLoop.cpp
  mlir/test/compiler-course/markin_i_var4_test/test.mlir
Labels: lab:mlir, delayed, tests

#192 Дормидонтов Егор. Лабораторная работа 2. LLVM IR. Вариант 4
  llvm/compiler-course/llvm-ir/dormidontov_egor_lab2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/dormidontov_egor_lab2/lab2.cpp
  llvm/test/compiler-course/dormidontov_egor_lab2/lab2_test_llvm_ir.ll
Labels: lab:llvm ir, delayed, tests
