Repository NN-complr-tech/compiler-course-2025, pull requests merged in 2025-10, with the labels that each got.

#244 Васенков Андрей. Лабораторная работа 3: Backend. Вариант 4.
  llvm/compiler-course/backend/vasenkov_a_sub/CMakeLists.txt
  llvm/compiler-course/backend/vasenkov_a_sub/vasenkov_a_sub.cpp
  llvm/test/compiler-course/vasenkov_a_sub/vasenkov_a_sub_test.mir
Labels: lab:backend, delayed, tests

#245 Васенков Андрей. Лабораторная работа 4: MLIR. Вариант 4.
  mlir/compiler-course/vasenkov_a_mlir/CMakeLists.txt
  mlir/compiler-course/vasenkov_a_mlir/vasenkov_a_mlir.cpp
  mlir/test/compiler-course/vasenkov_a_mlir/vasenkov_a_mlir.mlir
Labels: lab:mlir, delayed, tests

#250 Будажапова Екатерина. Лабораторная работа 3. Backend. Вариант 2.
  llvm/compiler-course/backend/budazhapova_e_pass_simd/CMakeLists.txt
  llvm/compiler-course/backend/budazhapova_e_pass_simd/budazhapova_lab3.cpp
  llvm/test/compiler-course/budazhapova_e_pass_simd_test/budazhapova_lab3_tests.mir
Labels: lab:backend, delayed, tests

#242 Васенков Андрей. Лабораторная работа 1: AST. Вариант 4.
  clang/compiler-course/vasenkov_a_VarPrefix/CMakeLists.txt
  clang/compiler-course/vasenkov_a_VarPrefix/vasenkov_a_VarPrefix.cpp
  clang/test/compiler-course/vasenkov_a_AST/vasenkov_a_VarPrefix_test.cpp
Labels: lab:clang, delayed, tests
