Repository NN-complr-tech/compiler-course-2025, pull requests merged in 2025-05, with the labels that each got.

#96 Грудзин Константин. Лабораторная 3. Вариант 2
  llvm/compiler-course/backend/grudzin_k_simd_counter/CMakeLists.txt
  llvm/compiler-course/backend/grudzin_k_simd_counter/grudzin_k_InstrumentSimdPass.cpp
  llvm/test/compiler-course/grudzin_k_simd_counter/grudzin_k_InstrumentSimdPass.mir
Labels: lab:backend, tests

#97 Кудряшова Ирина. Лабораторная работа 3: Backend. Вариант 3.
  llvm/compiler-course/backend/kudryashovaFMADecompose/CMakeLists.txt
  llvm/compiler-course/backend/kudryashovaFMADecompose/FMADecomposePass.cpp
  llvm/test/compiler-course/kudryashovaBackendTest/FMADecomposeLit.mir
Labels: lab:backend, tests

#113 Add deadline for lab3 and lab4
  .github/deadline.py
Labels: ci

#101 Чистов Алексей. Лабораторная работа 3: Backend. Вариант 1.
  llvm/compiler-course/backend/chistov_a_combination/CMakeLists.txt
  llvm/compiler-course/backend/chistov_a_combination/chistov_a_backend.cpp
  llvm/test/compiler-course/chistov_a_combination_test/chistov_a_backend_test.mir
Labels: lab:backend, tests

#105 Соловьев Алексей. Лабораторная работа 3: Backend. Вариант 4
  llvm/compiler-course/backend/solovev_a/CMakeLists.txt
  llvm/compiler-course/backend/solovev_a/solovev_a.cpp
  llvm/test/compiler-course/solovev_a_test_3/test_backend.mir
Labels: lab:backend, tests

#109 Lopatin Ilya. Lab 4: MLIR. Option 3.
  mlir/compiler-course/lopatinLowerRemPass/CMakeLists.txt
  mlir/compiler-course/lopatinLowerRemPass/lowerRemPass.cpp
  mlir/test/compiler-course/lopatinLoweringRemTest/testRemLit.mlir
Labels: lab:mlir, tests

#100 Mamaeva Olga. Lab3 : Backend. Var3.
  llvm/compiler-course/backend/AddToCallPass-Mamaeva-Lab3/CMakeLists.txt
  llvm/compiler-course/backend/AddToCallPass-Mamaeva-Lab3/FMADecomposePass.cpp
  llvm/test/compiler-course/AddToCallPass-Mamaeva-Lab3/test-add.mir
Labels: lab:backend, tests

#111 Козлова Екатерина. Лабораторная работа 3: Backend. Вариант 4.
  llvm/compiler-course/backend/kozlova_lab3_var4/CMakeLists.txt
  llvm/compiler-course/backend/kozlova_lab3_var4/ExamplePass.cpp
  llvm/test/compiler-course/kozlova_e_lab3_var4_test/test_backend.mir
Labels: lab:backend, tests

#108 Фролова Елизавета. Лабораторная работа 3: Backend. Вариант 3
  llvm/compiler-course/backend/frolova_e_fma/CMakeLists.txt
  llvm/compiler-course/backend/frolova_e_fma/frolova_e_pass.cpp
  llvm/test/compiler-course/frolova_e_fma_tests/frolova_e_backend.mir
Labels: lab:backend, tests

#102 Шурыгин Сергей. Лабораторная работа 3: Backend. Вариант 4.
  llvm/compiler-course/backend/shurigin_s_4var/CMakeLists.txt
  llvm/compiler-course/backend/shurigin_s_4var/Shurigin_s_4var.cpp
  llvm/test/compiler-course/Shurigin_lab3/test_backend.mir
Labels: lab:backend, tests

#98 Бесхмельнова Ксения. Лабораторная работа 2: Backend. Вариант 3.
  llvm/compiler-course/backend/beskhmelnova_k_fma_decomposition/CMakeLists.txt
  llvm/compiler-course/backend/beskhmelnova_k_fma_decomposition/FmaDecompositionPass.cpp
  llvm/test/compiler-course/beskhmelnova_k_fma_decomposition/fma_test.mir
Labels: lab:backend, tests

#110 Чижов Максим. Лабораторная работа 3: Backend. Вариант 3
  llvm/compiler-course/backend/chizhov_m_fma_decompose/CMakeLists.txt
  llvm/compiler-course/backend/chizhov_m_fma_decompose/chizhov_m_fma.cpp
  llvm/test/compiler-course/chizhov_m_fma_decompose_test/test-fma-decompose.mir
Labels: lab:backend, tests

#112 Комшина Дарья. Лабораторная работа 3: Backend. Вариант 3.
  llvm/compiler-course/backend/komshina_d_Fma_decomposition/CMakeLists.txt
  llvm/compiler-course/backend/komshina_d_Fma_decomposition/komshina_d_Fma_decomposition.cpp
  llvm/test/compiler-course/komshina_d_Fma_decomposition/komshina_d_Fma_decomposition.mir
Labels: lab:backend, tests

#116 Суворов Дмитрий. Лабораторная работа 3. Backend. Вариант 4.
  llvm/compiler-course/backend/suvorov_d_fmsub_opt/CMakeLists.txt
  llvm/compiler-course/backend/suvorov_d_fmsub_opt/fmsub_optimize_pass.cpp
  llvm/test/compiler-course/suvorov_d_fmsub_optimize_pass/suvorov_d_fmsub_optimize_test.mir
Labels: lab:backend, tests

#114 Резанцева Анастасия. Лабораторная работа 3: Backend. Вариант 4.
  llvm/compiler-course/backend/rezantseva_a_backend/CMakeLists.txt
  llvm/compiler-course/backend/rezantseva_a_backend/rezantsesva_a_backend.cpp
  llvm/test/compiler-course/rezantseva_a_backend_test/rezantseva_test.mir
Labels: lab:backend, tests

#117 Хованский Дмитрий. Лабораторная работа 3: Backend. Вариант 3.
  llvm/compiler-course/backend/khovansky_d_lab3/CMakeLists.txt
  llvm/compiler-course/backend/khovansky_d_lab3/khovansky_d_lab3.cpp
  llvm/test/compiler-course/khovansky_d_lab3/khovansky_d_lab3.mir
Labels: lab:backend, tests

#103 Дрождинов Дмитрий. Лабораторная работа 3: Backend. Вариант 3.
  llvm/compiler-course/backend/drozhdinov_d/CMakeLists.txt
  llvm/compiler-course/backend/drozhdinov_d/FMADecomposePass.cpp
  llvm/test/compiler-course/drozhdinov_d/test.mir
Labels: lab:backend, tests

#106 Лаврентьев Алексей. Лабораторная работа 1: Clang AST. Вариант 4
  clang/compiler-course/lavrentyev_AST_Plugin/CMakeLists.txt
  clang/compiler-course/lavrentyev_AST_Plugin/funcPrefixPlugin.cpp
  clang/test/compiler-course/lavrentyev_AST_Test/funcPrefixLit.cpp
Labels: lab:clang, delayed, tests

#107 Лаврентьев Алексей. Лабораторная работа 2: LLVM IR. Вариант 4
  llvm/compiler-course/llvm-ir/lavrentyev_IR_Pass/CMakeLists.txt
  llvm/compiler-course/llvm-ir/lavrentyev_IR_Pass/divToShiftPass.cpp
  llvm/test/compiler-course/lavrentyev_IR_Test/divToShiftLit.ll
Labels: lab:llvm ir, delayed, tests

#126 Бесхмельнова Ксения. Лабораторная работа 4: MLIR. Вариант 3.
  mlir/compiler-course/beskhmelnova_k_lower_rem_ops/CMakeLists.txt
  mlir/compiler-course/beskhmelnova_k_lower_rem_ops/LowerRemOpsPass.cpp
  mlir/test/compiler-course/beskhmelnova_k_lower_rem_ops/test.mlir
Labels: lab:mlir, tests

#115 Колодкин Григорий. Лабораторная работа 3: Backend. Вариант 1.
  llvm/compiler-course/backend/kolodkin_g_lab_1_var_1/CMakeLists.txt
  llvm/compiler-course/backend/kolodkin_g_lab_1_var_1/kolodkin_g_lab_1_var_1_pass.cpp
  llvm/test/compiler-course/kolodkin_g_lab_1_var_1/test_backend.mir
Labels: lab:backend, tests

#132 Чистов Алексей. Лабораторная работа 4: MLIR. Вариант 1.
  mlir/compiler-course/chistov_a_loop_trace/CMakeLists.txt
  mlir/compiler-course/chistov_a_loop_trace/chistov_a_mlir.cpp
  mlir/test/compiler-course/chistov_a_loop_trace_tests/chistov_a_test.mlir
Labels: lab:mlir, tests

#118 Лысов Иван. Лабораторная работа 3: Backend. Вариант 2
  llvm/compiler-course/backend/lysov_i_simd_counter/CMakeLists.txt
  llvm/compiler-course/backend/lysov_i_simd_counter/IvanLysovSIMDCounter.cpp
  llvm/test/compiler-course/lysov_i_simd_counter/testLit.mir
Labels: lab:backend, delayed, tests

#123 Соловьев Данила. Лабораторная работа 3: Backend. Вариант 2.
  llvm/compiler-course/backend/solovyev_d_simd_counter/CMakeLists.txt
  llvm/compiler-course/backend/solovyev_d_simd_counter/solovyev_d_simd_counter_pass.cpp
  llvm/test/compiler-course/solovyev_d_simd_counter/solovyev_d_pure_function_test.mir
Labels: lab:backend, tests

#121 Шульпин Илья. Лабораторная работа 3: Backend. Вариант 3.
  llvm/compiler-course/backend/shulpin_i_FMA_decompose/CMakeLists.txt
  llvm/compiler-course/backend/shulpin_i_FMA_decompose/FMADecomposePass.cpp
  llvm/test/compiler-course/shulpin_i_test_backend/shulpin_fma_decompose.mir
Labels: lab:backend, delayed, tests

#130 Миронов Арсений. 3822Б1ФИ1. Лабораторная работа 3. Вариант 3.
  llvm/compiler-course/backend/mironov_a_lab3/CMakeLists.txt
  llvm/compiler-course/backend/mironov_a_lab3/fma_pass.cpp
  llvm/test/compiler-course/mironov_a_lab3/test_backend.mir
Labels: lab:backend, delayed, tests

#119 Баранов Алексей. Лабораторная работа 3. Backend. Вариант 1.
  llvm/compiler-course/backend/baranov_a_backend/CMakeLists.txt
  llvm/compiler-course/backend/baranov_a_backend/pass.cpp
  llvm/test/compiler-course/baranov_a_backend_pass_test/AVXLogicOptPass.mir
Labels: lab:backend, delayed, tests

#137 Шульпин Илья. Лабораторная работа 4: MLIR. Вариант 3.
  mlir/compiler-course/shulpin_i_lowering_rem/CMakeLists.txt
  mlir/compiler-course/shulpin_i_lowering_rem/LowerRemPass.cpp
  mlir/test/compiler-course/shulpin_i_lowering_rem/shulpin_i_mlir_pass_test.mlir
Labels: lab:mlir, tests

#131 Ополин Дмитрий. Лабораторная работа 1.Clang AST. Вариант 1.
  clang/compiler-course/opolin_d_lab_1_var_1/CMakeLists.txt
  clang/compiler-course/opolin_d_lab_1_var_1/opolin_d_lab_1_plugin.cpp
  clang/test/compiler-course/opolin_d_lab_1_var_1/opolin_d_user_type_data_test.cpp
Labels: lab:clang, delayed, tests

#135 Комшина Дарья. Лабораторная работа 4: MLIR. Вариант 5.
  mlir/compiler-course/komshina_d_MLIR/CMakeLists.txt
  mlir/compiler-course/komshina_d_MLIR/komshina_d_MLIR.cpp
  mlir/test/compiler-course/komshina_d_MLIR/komshina_d_MLIR.mlir
Labels: lab:mlir, tests

#134 Седова Ольга. Лабораторная 1. Вариант 3.
  clang/compiler-course/sedova_o_lab1/CMakeLists.txt
  clang/compiler-course/sedova_o_lab1/example.cpp
  clang/test/compiler-course/sedova_o_lab1/test.cpp
Labels: lab:clang, delayed, tests

#138 Шурыгин Сергей. Лабораторная работа 4: MLIR. Вариант 4.
  mlir/compiler-course/shurigin_s/CMakeLists.txt
  mlir/compiler-course/shurigin_s/ExamplePass.cpp
  mlir/test/compiler-course/shurigin_s/test.mlir
Labels: lab:mlir, tests

#139 Иванов Михаил. Лабораторная работа 3: Backend. Вариант 4.
  llvm/compiler-course/backend/ivanov_m_fmsub/CMakeLists.txt
  llvm/compiler-course/backend/ivanov_m_fmsub/ivanov_fmsub.cpp
  llvm/test/compiler-course/ivanov_m_fmsub/ivanov_fmsub_test.mir
Labels: lab:backend, delayed, tests

#136 Ополин Дмитрий. Лабораторная работа 2. LLVM IR. Вариант 1.
  llvm/compiler-course/llvm-ir/opolin_d_lab2_var1/CMakeLists.txt
  llvm/compiler-course/llvm-ir/opolin_d_lab2_var1/LlvmFmaPass.cpp
  llvm/test/compiler-course/opolin_d_lab2_var1_test/test_llvm_ir.ll
Labels: lab:llvm ir, delayed, tests

#144 Кабалова Валерия. Лабораторная работа №4. Вариант 4. MLIR
  mlir/compiler-course/kabalova_mlir/CMakeLists.txt
  mlir/compiler-course/kabalova_mlir/regionNestsPass.cpp
  mlir/test/compiler-course/kabalova_mlir_test/test.mlir
Labels: lab:mlir, tests

#128 Kurakin Matvey. FIIT1. Lab 3. Logic ops
  llvm/compiler-course/backend/kurakin_logic_ops/CMakeLists.txt
  llvm/compiler-course/backend/kurakin_logic_ops/kurakin_logic_ops.cpp
  llvm/test/compiler-course/kurakin_logic_ops/lit_test_kurakin_logic_ops.mir
Labels: lab:backend, delayed, tests

#125 Созонов Илья. Лабораторная работа 3. Backend. Вариант 1.
  llvm/compiler-course/backend/sozonov_i_logical_combiner/CMakeLists.txt
  llvm/compiler-course/backend/sozonov_i_logical_combiner/LogicalCombinerPass.cpp
  llvm/test/compiler-course/sozonov_i_logical_combiner/test_backend.mir
Labels: lab:backend, delayed, tests

#140 Миронов Арсений. 3822Б1ФИ1. Лабораторная работа 4. Вариант 3.
  mlir/compiler-course/mironov_a_lab4/CMakeLists.txt
  mlir/compiler-course/mironov_a_lab4/rem_pass.cpp
  mlir/test/compiler-course/mironov_a_lab4/test.mlir
Labels: lab:mlir, tests

#143 Грудзин Константин. Лабораторная работа номер 4. Вариант 6
  mlir/compiler-course/grudzinKCallCount/CMakeLists.txt
  mlir/compiler-course/grudzinKCallCount/grudzinKCallCount.cpp
  mlir/test/compiler-course/grudzinKCallCountTest/grudzinKCallCount.mlir
Labels: lab:mlir, tests

#133 Ионова Екатерина. Лабораторная работа 4: MLIR. Вариант 3.
  mlir/compiler-course/ionova_ekaterina_lab4/CMakeLists.txt
  mlir/compiler-course/ionova_ekaterina_lab4/ExpandRemsiPass.cpp
  mlir/test/compiler-course/ionova_ekaterina_lab4/test.mlir
Labels: lab:mlir, tests

#146 Иванов Михаил. Лабортаорная работа 4: MLIR. Вариант 2.
  mlir/compiler-course/ivanov_m_mlir/CMakeLists.txt
  mlir/compiler-course/ivanov_m_mlir/ivanov_trip_count.cpp
  mlir/test/compiler-course/ivanov_m_mlir_test/ivanov_trip_count_test.mlir
Labels: lab:mlir, tests

#152 Хованский Дмитрий. Лабораторная работа 4: MLIR. Вариант 3.
  mlir/compiler-course/khovansky_d_lab4/CMakeLists.txt
  mlir/compiler-course/khovansky_d_lab4/khovansky_d_lab4.cpp
  mlir/test/compiler-course/khovansky_d_lab4_test/test.mlir
Labels: lab:mlir, tests

#92 Кошкин Никита. Лабораторная работа 1. Clang AST. Вариант 2
  clang/compiler-course/koshkin_n_ast/CMakeLists.txt
  clang/compiler-course/koshkin_n_ast/koshkin_n_ast.cpp
  clang/test/compiler-course/koshkin_n_ast_test/koshkin_n_ast_test.cpp
Labels: lab:clang, delayed, tests

#129 Строганов Михаил 3822Б1ФИ2 Лабраторная работа 3 Вариант 1
  llvm/compiler-course/backend/stroganov_m_lab3/CMakeLists.txt
  llvm/compiler-course/backend/stroganov_m_lab3/stroganov_m_backend_lab3.cpp
  llvm/test/compiler-course/stroganov_m_lab3/stroganov_m_backend_lab3.mir
Labels: lab:backend, delayed, tests

#141 Лаврентьев Алексей. Лабораторная работа 4: MLIR. Вариант 2
  mlir/compiler-course/lavrentyev_MLIR_Pass/CMakeLists.txt
  mlir/compiler-course/lavrentyev_MLIR_Pass/tripCountPass.cpp
  mlir/test/compiler-course/lavrentyev_MLIR_Test/testLit.mlir
Labels: lab:mlir, tests

#153 Фролова Елизавета. Лабораторная работа 4: MLIR. Вариант 3.
  mlir/compiler-course/frolova_e_decompose/CMakeLists.txt
  mlir/compiler-course/frolova_e_decompose/frolova_e_mlir.cpp
  mlir/test/compiler-course/frolova_e_decompose_test/frolova_e_test.mlir
Labels: lab:mlir, tests

#150 Седова Ольга. 3822Б1ФИ1. Лабораторная 4. вариант 1
  mlir/compiler-course/sedova_o_lab4/CMakeLists.txt
  mlir/compiler-course/sedova_o_lab4/ExamplePass.cpp
  mlir/test/compiler-course/sedova_o_lab4/test.mlir
Labels: lab:mlir, tests

#154 Козлова Екатерина. Лабораторная работа 4: MLIR. Вариант 4.
  mlir/compiler-course/kozlova_e_lab4/CMakeLists.txt
  mlir/compiler-course/kozlova_e_lab4/ExamplePass.cpp
  mlir/test/compiler-course/kozlova_e_lab4_test/test.mlir
Labels: lab:mlir, tests

#157 Дрождинов Дмитрий. Лабораторная работа 4: MLIR. Вариант 1.
  mlir/compiler-course/drozhdinov_d/CMakeLists.txt
  mlir/compiler-course/drozhdinov_d/LoopTracePass.cpp
  mlir/test/compiler-course/drozhdinov_d/test.mlir
Labels: lab:mlir, tests

#158 Маркин Иван. Лабораторная работа 2: LLVM. Вариант 3.
  llvm/compiler-course/llvm-ir/markin_i_fmuladd/CMakeLists.txt
  llvm/compiler-course/llvm-ir/markin_i_fmuladd/MergePass.cpp
  llvm/test/compiler-course/markin_i_fmulladdmerge/test.ll
Labels: lab:llvm ir, delayed, tests

#147 Шульпин Илья. Лабораторная работа 2: LLVM. Вариант 3.
  llvm/compiler-course/llvm-ir/shulpin_i_replacer_pass/AddCallReplacerPass.cpp
  llvm/compiler-course/llvm-ir/shulpin_i_replacer_pass/CMakeLists.txt
  llvm/test/compiler-course/shulpin_i_replacer_pass/shulpin_add_is_not_declaired_test.ll
  llvm/test/compiler-course/shulpin_i_replacer_pass/shulpin_i_replacer_pass_test.ll
Labels: lab:llvm ir, delayed, tests

#149 Соловьев Алексей. Лабораторная работа 4. MLIR. Вариант 2
  mlir/compiler-course/solovev_a/CMakeLists.txt
  mlir/compiler-course/solovev_a/SCFLoop.cpp
  mlir/test/compiler-course/solovev_a_test/test.mlir
Labels: lab:mlir, tests

#148 Баранов Алексей. Лабораторная работа 4. MLIR. Вариант 1
  mlir/compiler-course/baranov_a/CMakeLists.txt
  mlir/compiler-course/baranov_a/pass.cpp
  mlir/test/compiler-course/baranov_a/test1.mlir
Labels: lab:mlir, tests

#151 Резанцева Анастасия. 3822Б1ФИ1. Лабораторная 4: MLIR. Вариант 4.
  mlir/compiler-course/rezantseva_mlir/CMakeLists.txt
  mlir/compiler-course/rezantseva_mlir/rezantseva_mlir.cpp
  mlir/test/compiler-course/rezantseva_mlir/rezantseva_test.mlir
Labels: lab:mlir, tests

#159 Лысов Иван. Лабораторная работа №4: MLIR. Вариант 4.
  mlir/compiler-course/IvanLysov4ndLabSearchMaxDepth/CMakeLists.txt
  mlir/compiler-course/IvanLysov4ndLabSearchMaxDepth/SearchMaxDepthLysovIvan.cpp
  mlir/test/compiler-course/test_lysovIvanSearchMaxDepth/test.mlir
Labels: lab:mlir, tests

#161 Строганов Михаил 3822Б1ФИ2 Лабораторная работа 4 Вариант 1
  mlir/compiler-course/stroganov_m_lab4/CMakeLists.txt
  mlir/compiler-course/stroganov_m_lab4/stroganov_m_lab4.cpp
  mlir/test/compiler-course/stroganov_m_lab4/test.mlir
Labels: lab:mlir, tests

#163 Kurakin Matvey. FIIT1. Lab 4. Trace loop
  mlir/compiler-course/kurakin_trace_loop/CMakeLists.txt
  mlir/compiler-course/kurakin_trace_loop/kurakin_trace_loop.cpp
  mlir/test/compiler-course/kurakin_trace_loop/lit_test_kurakin_trace_loop.mlir
Labels: lab:mlir, tests

#160 Чижов Максим. Лабораторная работа №4. MLIR. Вариант 1.
  mlir/compiler-course/chizhov_m_loop_pass/CMakeLists.txt
  mlir/compiler-course/chizhov_m_loop_pass/chizhov_m_loop_pass.cpp
  mlir/test/compiler-course/chizhov_m_loop_pass/test.mlir
  mlir/test/compiler-course/chizhov_m_loop_pass/test_not_predefined.mlir
Labels: lab:mlir, tests

#165 Шкуринская Елена. Лабораторная работа № 4. MLIR. Вариант 2.
  mlir/compiler-course/shkurinskaya_e/CMakeLists.txt
  mlir/compiler-course/shkurinskaya_e/TripCountPass.cpp
  mlir/test/compiler-course/shkurinskaya_e/lab4test.mlir
Labels: lab:mlir, tests

#166 Суворов Дмитрий. Лабораторная №4. MLIR. Вариант 6.
  mlir/compiler-course/suvorov_d_call_counter/CMakeLists.txt
  mlir/compiler-course/suvorov_d_call_counter/func_call_count_pass.cpp
  mlir/test/compiler-course/suvorov_d_call_counter/func_call_count_test.mlir
Labels: lab:mlir, tests

#45 Коробейников Арсений. Лабораторная работа 1. Clang AST. Вариант 4.
  clang/compiler-course/korobeinikov_prefix_var/CMakeLists.txt
  clang/compiler-course/korobeinikov_prefix_var/korobeinikov_prefix_var_plugin.cpp
  clang/test/compiler-course/korobeinikov_prefix_var_test/korobeinikov_plugin_test.cpp
Labels: lab:clang, delayed, tests

#156 Береснев Антон. Лабораторная №2. LLVM IR. Вариант 2
  llvm/compiler-course/llvm-ir/beresnev_a_ir/CMakeLists.txt
  llvm/compiler-course/llvm-ir/beresnev_a_ir/ExamplePass.cpp
  llvm/test/compiler-course/beresnev_a/test_llvm_ir.ll
Labels: lab:llvm ir, delayed, tests

#168 Береснев Антон. Лабораторная №4. MLIR. Вариант 2
  mlir/compiler-course/beresnev_a/CMakeLists.txt
  mlir/compiler-course/beresnev_a/ExamplePass.cpp
  mlir/test/compiler-course/beresnev_a/test.mlir
Labels: lab:mlir, delayed, tests

#169 Коробейников Арсений. Лабораторная работа № 2. LLVM IR. Вариант № 4
  llvm/compiler-course/llvm-ir/korobeinikov_a_llvm_ir/CMakeLists.txt
  llvm/compiler-course/llvm-ir/korobeinikov_a_llvm_ir/korobeinikov_div_opt_pass.cpp
  llvm/test/compiler-course/korobeinikov_a_llvm_ir_test/korobeinikov_a_llvm_ir_test.ll
Labels: lab:llvm ir, delayed, tests

#89 Плеханов Даниил. Лабораторная работа 2, Вариант 2, LLVM IR.
  llvm/compiler-course/llvm-ir/plekhanov_pass_pure/CMakeLists.txt
  llvm/compiler-course/llvm-ir/plekhanov_pass_pure/plekhanov.cpp
  llvm/test/compiler-course/plekhanov_pass_pure/test.ll
Labels: lab:llvm ir, delayed, tests

#155 Колодкин Григорий. Лабораторная работа №4: MLIR. Вариант 5.
  mlir/compiler-course/kologkin_g_lab_4_var_5/CMakeLists.txt
  mlir/compiler-course/kologkin_g_lab_4_var_5/ReplaceCeilWithFloorNegPlugin.cpp
  mlir/test/compiler-course/kologkin_g_lab_4_var_5/test.mlir
Labels: lab:mlir, tests

#173 Савченко Максим. Лабораторная работа №2. LLVM IR. Вариант 2.
  llvm/compiler-course/llvm-ir/savchenko_m_l2_v2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/savchenko_m_l2_v2/savchenko_m_l2_v2.cpp
  llvm/test/compiler-course/savchenko_m_l2_v2_test/savchenko_m_l2_v2_test.ll
Labels: lab:llvm ir, delayed, tests

#172 Савченко Максим. Лабораторная работа №4. MLIR. Вариант 6.
  mlir/compiler-course/savchenko_m_l4_v6/CMakeLists.txt
  mlir/compiler-course/savchenko_m_l4_v6/savchenko_m_l4_v6.cpp
  mlir/test/compiler-course/savchenko_m_l4_v6_test/savchenko_m_l4_v6_test.mlir
Labels: lab:mlir, delayed, tests

#179 Кабалова Валерия. Лабораторная работа №2. Вариант 2.
  llvm/compiler-course/llvm-ir/kabalova_llvmir/CMakeLists.txt
  llvm/compiler-course/llvm-ir/kabalova_llvmir/kabalova_llvmir.cpp
  llvm/test/compiler-course/kabalova_llvmir/kabalova_llvmir_test.ll
Labels: lab:llvm ir, delayed, tests
