Repository NN-complr-tech/compiler-course-2025, pull requests merged in 2025-04, with the labels that each got.

#69 Дрождинов Дмитрий. Лабораторная работа 2. LLVM IR. Вариант 3.
  llvm/compiler-course/llvm-ir/drozhdinov_d/CMakeLists.txt
  llvm/compiler-course/llvm-ir/drozhdinov_d/CallFunctionPass.cpp
  llvm/test/compiler-course/drozhdinov_d/test.ll
Labels: lab:llvm ir, tests

#58 Kurakin Matvey. FIIT1. Lab 2. LLVM IR
  llvm/compiler-course/llvm-ir/kurakin_fma/CMakeLists.txt
  llvm/compiler-course/llvm-ir/kurakin_fma/kurakin_fma_pass.cpp
  llvm/test/compiler-course/kurakin_fma/lit_test_kurakin_fma.ll
Labels: lab:llvm ir, tests

#64 Шурыгин Сергей. Лабораторная работа 2: LLVM IR. Вариант 4.
  llvm/compiler-course/llvm-ir/Shurigin_LLVM_IR_LAB2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/Shurigin_LLVM_IR_LAB2/Shurigin_LLVM_IR_LAB2.cpp
  llvm/test/compiler-course/Shurigin_LLVM_IR_LAB2/test_llvm_ir.ll
Labels: lab:llvm ir, tests

#67 Грудзин Константин. Лабораторная работа 2. LLVM IR. Вариант2
  llvm/compiler-course/llvm-ir/grudzin_k_pureF/CMakeLists.txt
  llvm/compiler-course/llvm-ir/grudzin_k_pureF/grudzin_k_pureF.cpp
  llvm/test/compiler-course/grudzin_k_pureF_test/grudzin_k_pureF.ll
Labels: lab:llvm ir, tests

#52 Ясакова Татьяна. Лабораторная работа 1. Clang AST. Вариант 1.
  clang/compiler-course/yasakova_t_lab1/CMakeLists.txt
  clang/compiler-course/yasakova_t_lab1/yasakova_t_user_data_type_plugin.cpp
  clang/test/compiler-course/yasakova_t_lab1/yasakova_t_user_data_type_test.cpp
Labels: lab:clang, delayed, tests

#62 Чистов Алексей. Лабораторная работа 2. LLVM IR. Вариант 1.
  llvm/compiler-course/llvm-ir/chistov_a_fmuladd_pass/CMakeLists.txt
  llvm/compiler-course/llvm-ir/chistov_a_fmuladd_pass/chistov_a.cpp
  llvm/test/compiler-course/chistov_a_fmuladd_pass_test/chistov_a_llvm_ir.ll
Labels: lab:llvm ir, tests

#65 Соловьев Алексей. Лабораторная работа 2: LLVM IR. Вариант 4.
  llvm/compiler-course/llvm-ir/solovev_a/CMakeLists.txt
  llvm/compiler-course/llvm-ir/solovev_a/solovev_a.cpp
  llvm/test/compiler-course/solovev_a_test/test_llvm_ir.ll
Labels: lab:llvm ir, tests

#70 Колодкин Григорий. Лабораторная работа 2: LLVM IR. Вариант 1.
  llvm/compiler-course/llvm-ir/kolodkin_g_lab_1_var_1/CMakeLists.txt
  llvm/compiler-course/llvm-ir/kolodkin_g_lab_1_var_1/kolodkin_g_lab_1_var_1_pass.cpp
  llvm/test/compiler-course/kolodkin_g_lab_1_var_1/test_llvm_ir.ll
Labels: lab:llvm ir, tests

#71 Фролова Елизавета. Лабораторная работа 2. LLVM IR. Вариант 3.
  llvm/compiler-course/llvm-ir/frolova_e_llvm_change_add/CMakeLists.txt
  llvm/compiler-course/llvm-ir/frolova_e_llvm_change_add/frolova_e_llvm_ir.cpp
  llvm/test/compiler-course/frolova_e_llvm_change_add_test/frolova_e_llvm_test.ll
Labels: lab:llvm ir, tests

#63 Соловьев Данила. Лабораторная работа 2: LLVM IR. Вариант 2.
  llvm/compiler-course/llvm-ir/solovyev_d_pure_function/CMakeLists.txt
  llvm/compiler-course/llvm-ir/solovyev_d_pure_function/solovyev_d_pure_function_pass.cpp
  llvm/test/compiler-course/solovyev_d_pure_function/solovyev_d_pure_function_test.ll
Labels: lab:llvm ir, tests

#85 Суворов Дмитрий. Лабораторная работа 2. LLVM IR PASS. Вариант 4.
  llvm/compiler-course/llvm-ir/suvorov_d_lab2_var4/CMakeLists.txt
  llvm/compiler-course/llvm-ir/suvorov_d_lab2_var4/div_optimize_pass.cpp
  llvm/test/compiler-course/suvorov_d_div_optimize_pass/suvorov_d_div_optimize_test.ll
Labels: lab:llvm ir, tests

#87 Хованский Дмитрий. Лабораторная работа 2. LLVM IR. Вариант 3.
  llvm/compiler-course/llvm-ir/khovansky_d_lab2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/khovansky_d_lab2/khovansky_d_lab2.cpp
  llvm/test/compiler-course/khovansky_d_lab2/test_llvm_ir.ll
  llvm/test/compiler-course/khovansky_d_lab2/test_llvm_ir1.ll
Labels: lab:llvm ir, tests

#74 Козлова Екатерина. Лабораторная работа 2: LLVM IR. Вариант 4.
  llvm/compiler-course/llvm-ir/kozlova_e_lab2_var4/CMakeLists.txt
  llvm/compiler-course/llvm-ir/kozlova_e_lab2_var4/ExamplePass.cpp
  llvm/test/compiler-course/kozlova_e_lab2_var4_test/test_llvm_ir.ll
Labels: lab:llvm ir, tests

#82 Шкуринская Елена. Лабораторная работа 2: LLVM IR. Вариант 4.
  llvm/compiler-course/llvm-ir/shkurinskaya_e_llvm/BinShift.cpp
  llvm/compiler-course/llvm-ir/shkurinskaya_e_llvm/CMakeLists.txt
  llvm/test/compiler-course/shkurinskaya_e_llvm/test.ll
Labels: lab:llvm ir, tests

#86 Созонов Илья. Лабораторная работа 2. LLVM IR. Вариант 1.
  llvm/compiler-course/llvm-ir/sozonov_i_llvm_fmuladd/CMakeLists.txt
  llvm/compiler-course/llvm-ir/sozonov_i_llvm_fmuladd/FmulFaddPass.cpp
  llvm/test/compiler-course/sozonov_i_llvm_fmuladd/lit_test_llvm_ir_.ll
Labels: lab:llvm ir, tests

#78 Лысов Иван. Лабораторная работа 2: LLVM IR. Вариант 2.
  llvm/compiler-course/llvm-ir/2ndLabLysovIvan/CMakeLists.txt
  llvm/compiler-course/llvm-ir/2ndLabLysovIvan/lysov_ivan_2ndLab.cpp
  llvm/test/compiler-course/lysov_ivan_2ndLabTests/ivan_lysov_2ndLabLitTest.ll
Labels: lab:llvm ir, tests

#84 Резанцева Анастасия. Лабораторная работа 2: LLVM IR. Вариант 4.
  llvm/compiler-course/llvm-ir/rezantseva_a_llvm/CMakeLists.txt
  llvm/compiler-course/llvm-ir/rezantseva_a_llvm/rezantseva_a_pass.cpp
  llvm/test/compiler-course/rezantseva_a_llvm/rezantseva_a_test_llvm_ir.ll
Labels: lab:llvm ir, tests

#73 Кудряшова Ирина. Лабораторная работа 2: LLVM IR. Вариант 3.
  llvm/compiler-course/llvm-ir/kudryashova_i_add_replace/CMakeLists.txt
  llvm/compiler-course/llvm-ir/kudryashova_i_add_replace/addReplacePass.cpp
  llvm/test/compiler-course/kudryashova_i_add_replace/litTestKudryashova.ll
Labels: lab:llvm ir, tests

#77 Ясакова Татьяна. Лабораторная работа 2. LLVM IR. Вариант 1.
  llvm/compiler-course/llvm-ir/yasakova_t_fmul_fadd_pass/CMakeLists.txt
  llvm/compiler-course/llvm-ir/yasakova_t_fmul_fadd_pass/yasakova_t.cpp
  llvm/test/compiler-course/yasakova_t_fmul_fadd_pass/yasakova_t_llvm_ir.ll
Labels: lab:llvm ir, tests

#76 Mamaeva Olga. Lab2: LLVM IR. Var3.
  llvm/compiler-course/llvm-ir/AddReplacePass-Mamaeva/AddReplacePass.cpp
  llvm/compiler-course/llvm-ir/AddReplacePass-Mamaeva/CMakeLists.txt
  llvm/test/compiler-course/AddReplacePass-Mamaeva/litTestMamaeva.ll
  llvm/test/compiler-course/AddReplacePass-Mamaeva/litTestMamaeva_no_add.ll
Labels: lab:llvm ir, delayed, tests

#83 Баранов Алексей 3822Б1ФИ1 Лабраторная работа 2 Вариант 1
  llvm/compiler-course/llvm-ir/baranov_a_ir_pass/CMakeLists.txt
  llvm/compiler-course/llvm-ir/baranov_a_ir_pass/baranov_a_ir_pass.cpp
  llvm/test/compiler-course/baranov_a_ir_pass/baranov_a_ir_pass.ll
Labels: lab:llvm ir, tests

#91 Хованский Дмитрий. Лабораторная работа 1. Clang AST. Вариант 3.
  clang/compiler-course/khovansky_d_lab1/CMakeLists.txt
  clang/compiler-course/khovansky_d_lab1/khovansky_d_lab1.cpp
  clang/test/compiler-course/khovansky_d_lab1_test/khovansky_d_lab1_test.cpp
Labels: lab:clang, delayed, tests

#90 Иванов Михаил. Лабораторная работа 2. LLVM IR. Вариант 4.
  llvm/compiler-course/llvm-ir/ivanov_m_lab2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/ivanov_m_lab2/ivanov_m_division_pass.cpp
  llvm/test/compiler-course/ivanov_m_lab2/test_ivanov_m_llvm_ir.ll
Labels: lab:llvm ir, delayed, tests

#79 Чижов Максим. Лабораторная работа 2. LLVM IR. Вариант 3.
  llvm/compiler-course/llvm-ir/chizhov_m_replace_add_pass/CMakeLists.txt
  llvm/compiler-course/llvm-ir/chizhov_m_replace_add_pass/chizhov_m_replace_add_pass.cpp
  llvm/test/compiler-course/chizhov_m_replace_add_pass/chizhov_m_no_add_pass.ll
  llvm/test/compiler-course/chizhov_m_replace_add_pass/chizhov_m_replace_add_pass.ll
Labels: lab:llvm ir, delayed, tests

#44 Маркин Иван. Лабораторная работа 1. Clang AST. Вариант 1.
  clang/compiler-course/markin_i_conversions/CMakeLists.txt
  clang/compiler-course/markin_i_conversions/markin_i_conversions.cpp
  clang/test/compiler-course/markin_i_conversions/test.cpp
Labels: lab:clang, delayed, tests
