Repository NN-complr-tech/compiler-course-2025, pull requests merged in 2025-09, with the labels that each got.

#199 Межуев Максим. Лабораторная работа 2. Вариант 4
  llvm/compiler-course/llvm-ir/mezhuev_m_lab2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/mezhuev_m_lab2/lab2.cpp
  llvm/test/compiler-course/mezhuev_m_lab2/lab2_test.ll
Labels: lab:llvm ir, delayed, tests

#202 Межуев Максим. Лабораторная работа 4. Вариант 2.
  mlir/compiler-course/mezhuev_m_lab4/CMakeLists.txt
  mlir/compiler-course/mezhuev_m_lab4/mezhuev_m_lab4.cpp
  mlir/test/compiler-course/mezhuev_m_lab4/mezhuev_m_lab4_test.mlir
Labels: lab:mlir, delayed, tests

#203 Гусейнов Эмил Лабораторная работа 2: LLVM IR. Вариант 3
  llvm/compiler-course/llvm-ir/guseynov_e_lab2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/guseynov_e_lab2/add_pass.cpp
  llvm/test/compiler-course/guseynov_e_llvmir/test.ll
  llvm/test/compiler-course/guseynov_e_llvmir/test_no_add.ll
Labels: lab:llvm ir, delayed, tests

#206 Велиев Эльвин. Лабораторная работа 2: LLVM. Вариант 1.
  llvm/compiler-course/llvm-ir/Veliev_E_fma/CMakeLists.txt
  llvm/compiler-course/llvm-ir/Veliev_E_fma/fmuladd.cpp
  llvm/test/compiler-course/Veliev_E_fma/fmuladd.ll
Labels: lab:llvm ir, delayed, tests

#207 Велиев Эльвин. Лабораторная работа 3: BACKEND. Вариант 1.
  llvm/compiler-course/backend/Veliev_E_Backend/BackendPass.cpp
  llvm/compiler-course/backend/Veliev_E_Backend/CMakeLists.txt
  llvm/test/compiler-course/Veliev_E_Backend/BackendTest.mir
Labels: lab:backend, delayed, tests

#213 Плеханов Даниил. Лабораторная работа 3: Backend. Вариант 2.
  llvm/compiler-course/backend/plekhanov_simd_counter/CMakeLists.txt
  llvm/compiler-course/backend/plekhanov_simd_counter/simd_counter.cpp
  llvm/test/compiler-course/plekhanov_simd_counter/simd_counter.mir
Labels: lab:backend, delayed, tests

#214 Плеханов Даниил. Лабораторная работа 4: MLIR. Вариант 4.
  mlir/compiler-course/plekhanov_d/CMakeLists.txt
  mlir/compiler-course/plekhanov_d/ExamplePass.cpp
  mlir/test/compiler-course/plekhanov_d/test.mlir
Labels: lab:mlir, delayed, tests

#215 Гусейнов Эмил. Лабораторная работа 3: Backend. Вариант 3.
  llvm/compiler-course/backend/guseynov_e_lab3/CMakeLists.txt
  llvm/compiler-course/backend/guseynov_e_lab3/fma-decompose.cpp
  llvm/test/compiler-course/guseynov_e_lab3/fma_decompose_pass_test.mir
Labels: lab:backend, delayed, tests

#216 Гусейнов Эмил. Лабораторная работа 4: MLIR. Вариант 3.
  mlir/compiler-course/guseynov_e_lab4/CMakeLists.txt
  mlir/compiler-course/guseynov_e_lab4/mlir.cpp
  mlir/test/compiler-course/guseynov_e_lab4/guseunov_e_test.mlir
Labels: lab:mlir, delayed, tests

#220 Аникин Максим. Лабораторная работа 2. Вариант 1
  llvm/compiler-course/llvm-ir/anikin_m_fmuladd/CMakeLists.txt
  llvm/compiler-course/llvm-ir/anikin_m_fmuladd/llvmfmulfaddpass.cpp
  llvm/test/compiler-course/anikin_m_fmuladd/test_llvm_ir.ll
Labels: lab:llvm ir, delayed, tests

#221 Аникин Максим. Лабораторная работа 3. Вариант 1.
  llvm/compiler-course/backend/anikin_m_backend/CMakeLists.txt
  llvm/compiler-course/backend/anikin_m_backend/anikin_m_lab3.cpp
  llvm/test/compiler-course/anikin_m_backend/anikin_m_lab3_test.mir
Labels: lab:backend, delayed, tests

#194 Дормидонтов Егор. Лабораторная работа 4. MLIR. Вариант 4.
  mlir/compiler-course/dormidontov_egor_lab4/CMakeLists.txt
  mlir/compiler-course/dormidontov_egor_lab4/lab4.cpp
  mlir/test/compiler-course/dormidontov_egor_lab4/test.mlir
Labels: lab:mlir, delayed, tests

#226 Сдобнов Владимир. Лабораторная 1. Вариант 4
  clang/compiler-course/sdobnov_v_lab1/CMakeLists.txt
  clang/compiler-course/sdobnov_v_lab1/sdobnov_v_lab1.cpp
  clang/test/compiler-course/sdobnov_v_lab1/sdobnov_v_lab1_tests.cpp
Labels: lab:clang, delayed, tests

#234 Агафеев Сергей. Лабораторная работа 2. LLVM IR. Вариант 1.
  llvm/compiler-course/llvm-ir/agafeev_s_ir/CMakeLists.txt
  llvm/compiler-course/llvm-ir/agafeev_s_ir/agafeev_s_ir.cpp
  llvm/test/compiler-course/agafeev_s_ir_test/agafeev_s_ir.ll
Labels: lab:llvm ir, delayed, tests

#227 Шишкарев Андрей. Лабораторная работа 2: LLVM IR. Вариант 3
  llvm/compiler-course/llvm-ir/shishkarev_a_llvm/CMakeLists.txt
  llvm/compiler-course/llvm-ir/shishkarev_a_llvm/add_replace_pass.cpp
  llvm/test/compiler-course/shishkarev_a_llvm/test_shishkarev_llvm.ll
Labels: lab:llvm ir, delayed, tests

#229 Шишкарев Андрей. Лабораторная работа 4: MLIR. Вариант 1.
  mlir/compiler-course/shishkarev_a_mlir/CMakeLists.txt
  mlir/compiler-course/shishkarev_a_mlir/traceLoopIterPass.cpp
  mlir/test/compiler-course/shishakrev_a_mlir/test.mlir
Labels: lab:mlir, delayed, tests

#230 Дудченко Олеся. Лабораторная работа 2. LLVM IR. Вариант 1.
  llvm/compiler-course/llvm-ir/dudchenko_o_llvm_var_1/CMakeLists.txt
  llvm/compiler-course/llvm-ir/dudchenko_o_llvm_var_1/dudchenko_o_llvm.cpp
  llvm/test/compiler-course/dudchenko_o_llvm_var_1/dudchenko_o_llvm.ll
Labels: lab:llvm ir, delayed, tests

#231 Дудченко Олеся. Лабораторная работа 3: Backend. Вариант 1.
  llvm/compiler-course/backend/dudchenko_o_backend_var_1/CMakeLists.txt
  llvm/compiler-course/backend/dudchenko_o_backend_var_1/dudchenko_o_backend.cpp
  llvm/test/compiler-course/dudchenko_o_backend_var_1/test_dudchenko_o_backend.mir
Labels: lab:backend, delayed, tests

#241 Сдобнов Владимир. Лабораторная 3. Вариант 4
  llvm/compiler-course/backend/sdobnov_v_lab3/CMakeLists.txt
  llvm/compiler-course/backend/sdobnov_v_lab3/sdobnov_v_lab3.cpp
  llvm/test/compiler-course/sdobnov_v_lab3_test/sdobnov_v_lab3_test.mir
Labels: lab:backend, delayed, tests
