Repository NN-complr-tech/compiler-course-2025, pull requests merged in 2025-03, with the labels that each got.

#5 Шурыгин Сергей. Задание №1. Вариант №4.
  clang/compiler-course/Shurigin_S_FI1_ClangAst_var4/CMakeLists.txt
  clang/compiler-course/Shurigin_S_FI1_ClangAst_var4/ShuriginAST.cpp
  clang/test/compiler-course/Shurigin_S_FI1_ClangAst_var4_test/ShuriginS_AST.cpp
Labels: lab:clang, tests

#8 Бесхмельнова Ксения. Лабораторная работа 1: Clang AST. Вариант 3.
  clang/compiler-course/beskhmelnova_k_implicit_conversions/CMakeLists.txt
  clang/compiler-course/beskhmelnova_k_implicit_conversions/beskhmelnova_k_implicit_conversions.cpp
  clang/test/compiler-course/beskhmelnova_k_implicit_conversions/beskhmelnova_k_implicit_conversions_test.cpp
Labels: lab:clang, tests

#10 Kurakin Matvey. FIIT1. Lab 1. Clang AST
  clang/compiler-course/kurakin_user_data_type/CMakeLists.txt
  clang/compiler-course/kurakin_user_data_type/kurakin_user_data_type_plugin.cpp
  clang/test/compiler-course/kurakin_user_data_type/kurakin_user_data_type_test.cpp
Labels: lab:clang, tests

#9 Холин Кирилл. Лабораторная работа 1: Clang AST. Вариант 4.
  clang/compiler-course/Kholin_K_prefixes/CMakeLists.txt
  clang/compiler-course/Kholin_K_prefixes/Kholin_K_prefixes_plugin.cpp
  clang/test/compiler-course/Kholin_K_prefixes/Kholin_K_prefixes_test.cpp
Labels: lab:clang, tests

#7 Кудряшова Ирина. Лабораторная работа 1: Clang AST. Вариант 3.
  clang/compiler-course/kudryashova_i_compilers_clangast/CMakeLists.txt
  clang/compiler-course/kudryashova_i_compilers_clangast/kudryashova_i_clangast_plugin.cpp
  clang/test/compiler-course/kudryashova_i_test_clangast/kudryashova_i_clangast_test.cpp
Labels: lab:clang, tests

#13 Дрождинов Дмитрий. Лабораторная работа 1. Clang AST. Вариант 3.
  clang/compiler-course/drozhdinov_d_clangast_var3/CMakeLists.txt
  clang/compiler-course/drozhdinov_d_clangast_var3/drozhdinov_clang.cpp
  clang/test/compiler-course/drozhdinov_d_clangast_var3_test/test.cpp
Labels: lab:clang, tests

#18 Шкуринская Елена. Лабораторная работа 1. Clang AST. Вариант 4.
  clang/compiler-course/shkurinskaya_e_var_renaming/CMakeLists.txt
  clang/compiler-course/shkurinskaya_e_var_renaming/shkurinskaya_e_var_renaming.cpp
  clang/test/compiler-course/shkurinskaya_e_var_renaming/shkurinskaya_e_var_renaming_test.cpp
Labels: lab:clang, tests

#15 Ионова Екатерина. Лабораторная работа 1: Clang AST. Вариант 1.
  clang/compiler-course/ionova_ekaterina_lab_1/CMakeLists.txt
  clang/compiler-course/ionova_ekaterina_lab_1/ClassInfoPlugin.cpp
  clang/test/compiler-course/ionova_ekaterina_lab_1/test.cpp
Labels: lab:clang, tests

#30 Комшина Дарья.Лабораторная работа 1.Clang AST. Вариант 3
  clang/compiler-course/komshina_d_num_implicit_conversions/CMakeLists.txt
  clang/compiler-course/komshina_d_num_implicit_conversions/komshina_d_num_implicit_conversions.cpp
  clang/test/compiler-course/komshina_d_num_implicit_conversions/komshina_d_num_implicit_conversions.cpp
Labels: lab:clang, tests

#21 Фролова Елизавета. Лабораторная работа 1. Clang AST. Вариант 3.
  clang/compiler-course/frolova_e_implicit_conversions/CMakeLists.txt
  clang/compiler-course/frolova_e_implicit_conversions/frolova_e_implicit_conversions.cpp
  clang/test/compiler-course/frolova_e_implicit_conversions/frolova_e_implicit_conversions.cpp
Labels: lab:clang, tests

#14 Резанцева Анастасия. Лабораторная работа 1: Clang AST. Вариант 4.
  clang/compiler-course/rezantseva_a_prefixes/CMakeLists.txt
  clang/compiler-course/rezantseva_a_prefixes/rezantseva_a_prefixes.cpp
  clang/test/compiler-course/rezantseva_a_prefixes/rezantseva_a_prefixes_test.cpp
Labels: lab:clang, tests

#17 Грудзин Константин. Лабораторная работа 1. Clang AST. Вариант 2
  clang/compiler-course/grudzin_k_unused_vars_ast/CMakeLists.txt
  clang/compiler-course/grudzin_k_unused_vars_ast/grudzin_k_unused_vars.cpp
  clang/test/compiler-course/grudzin_k_unused_vars_ast/test.cpp
  clang/test/compiler-course/grudzin_k_unused_vars_ast/test_help.cpp
Labels: lab:clang, tests

#19 Баранов Алексей. Лабораторная работа 1.Clang AST. Вариант 1.
  clang/compiler-course/baranov_a/CMakeLists.txt
  clang/compiler-course/baranov_a/baranov_ast.cpp
  clang/test/compiler-course/baranov_a_ast_tests/test.cpp
Labels: lab:clang, tests

#31 Миронов Арсений. 3822Б1ФИ1. Лабораторная работа 1. Вариант 3.
  clang/compiler-course/mironov_a_lab1/CMakeLists.txt
  clang/compiler-course/mironov_a_lab1/source.cpp
  clang/test/compiler-course/mironov_a_lab1/test.cpp
Labels: lab:clang, tests

#36 Revert "Кудряшова Ирина. Лабораторная работа 1: Clang AST. Вариант 3.
  clang/compiler-course/kudryashova_i_compilers_clangast/CMakeLists.txt
  clang/compiler-course/kudryashova_i_compilers_clangast/kudryashova_i_clangast_plugin.cpp
  clang/test/compiler-course/kudryashova_i_test_clangast/kudryashova_i_clangast_test.cpp
Labels: lab:clang, tests

#48 [CI] Normalize cache
  .github/workflows/compiler-course-build.yml
  .github/workflows/compiler-course-tidy.yml
Labels: ci

#32 Соловьев Алексей. Лабораторная работа 1: Clang AST. Вариант 4.
  clang/compiler-course/solovev_a/CMakeLists.txt
  clang/compiler-course/solovev_a/solovev_a.cpp
  clang/test/compiler-course/solovev_a_test/solovev_a_test.cpp
Labels: lab:clang, tests

#33 Козлова Екатерина. Лабораторная работа 1. Clang AST. Вариант 4.
  clang/compiler-course/kozlova_e_variant_4/CMakeLists.txt
  clang/compiler-course/kozlova_e_variant_4/kozlova_e_var_4.cpp
  clang/test/compiler-course/kozlova_e_var_4_test/test.cpp
Labels: lab:clang, delayed, tests

#37 Суворов Дмитрий. Лабораторная работа 1. Clang AST. Вариант 4.
  clang/compiler-course/suvorov_d_lab1_var4/CMakeLists.txt
  clang/compiler-course/suvorov_d_lab1_var4/suvorov_d_adding_prefs.cpp
  clang/test/compiler-course/suvorov_d_lab1_var4/suvorov_d_adding_prefs_test.cpp
Labels: lab:clang, delayed, tests

#38 Кабалова Валерия. Лабораторная работа 1. Вариант 2.
  clang/compiler-course/kabalova_clangAST/CMakeLists.txt
  clang/compiler-course/kabalova_clangAST/kabalova_ClangAST.cpp
  clang/test/compiler-course/kabalova_testClangAST/kabalova_testClangAST.cpp
Labels: lab:clang, tests

#16 Соловьев Данила. Лабораторная работа 1: Clang AST. Вариант 2.
  clang/compiler-course/solovyev_d_unused_variable/CMakeLists.txt
  clang/compiler-course/solovyev_d_unused_variable/solovyev_d_unused_variable_plugin.cpp
  clang/test/compiler-course/solovyev_d_unused_variable/solovyev_d_unused_variable_test.cpp
Labels: lab:clang, delayed, tests

#40 Созонов Илья. Лабораторная работа 1. Clang AST. Вариант 1.
  clang/compiler-course/sozonov_i_user_defined_data_type/CMakeLists.txt
  clang/compiler-course/sozonov_i_user_defined_data_type/sozonov_i_user_defined_data_type_plugin.cpp
  clang/test/compiler-course/sozonov_i_user_defined_data_type/sozonov_i_user_defined_data_type_test.cpp
Labels: lab:clang, delayed, tests

#39 Плеханов Даниил. Лабораторная работа 1. Clang AST. Вариант 2
  clang/compiler-course/plekhanov_unused_variables/CMakeLists.txt
  clang/compiler-course/plekhanov_unused_variables/plekhanov.cpp
  clang/test/compiler-course/plekhanov_unused_variables/test.cpp
Labels: lab:clang, delayed, tests

#54 Иванов Михаил. Лабораторная работа 1. Clang AST. Вариант 4.
  clang/compiler-course/ivanov_m_prefix_4/CMakeLists.txt
  clang/compiler-course/ivanov_m_prefix_4/ivanov_m_prefix.cpp
  clang/test/compiler-course/ivanov_m_prefix_4_test/ivanov_m_prefix_test.cpp
Labels: lab:clang, delayed, tests

#51 Савченко Максим. Лабораторная работа 1. Clang AST. Вариант 2.
  clang/compiler-course/savchenko_m_l1_v2/CMakeLists.txt
  clang/compiler-course/savchenko_m_l1_v2/savchenko_m_l1_v2.cpp
  clang/test/compiler-course/savchenko_m_l1_v2_tests/savchenko_m_l1_v2_tests.cpp
Labels: lab:clang, delayed, tests

#61 Add deadline lab 2
  .github/deadline.py
Labels: ci

#57 Бесхмельнова Ксения. Лабораторная работа 2: LLVM IR. Вариант 3.
  llvm/compiler-course/llvm-ir/beskhmelnova_k_replace_add/CMakeLists.txt
  llvm/compiler-course/llvm-ir/beskhmelnova_k_replace_add/ReplaceAddPass.cpp
  llvm/test/compiler-course/beskhmelnova_k_replace_add/litTestReplaceAdd.ll
Labels: lab:llvm ir, tests

#53 Lopatin Ilya. Lab 2: LLVM IR. Option 1.
  llvm/compiler-course/llvm-ir/lopatin_fmul_fadd/CMakeLists.txt
  llvm/compiler-course/llvm-ir/lopatin_fmul_fadd/fmulFaddMergePass.cpp
  llvm/test/compiler-course/lopatin_fmul_fadd/litTestFmulFaddMerge.ll
Labels: lab:llvm ir, tests

#46 Шульпин Илья. Лабораторная работа 1. Clang AST. Вариант 3
  clang/compiler-course/shulpin_i_implicit_conversion/CMakeLists.txt
  clang/compiler-course/shulpin_i_implicit_conversion/shulpin_i_ClangAST_lab.cpp
  clang/test/compiler-course/shulpin_i_implicit_conversion/shulpin_i_ClangAST_lab_tests.cpp
Labels: lab:clang, delayed, tests

#60 Холин Кирилл. Лабораторная работа 2: LLVM IR. Вариант 4.
  llvm/compiler-course/llvm-ir/Kholin_K_DivOpt/CMakeLists.txt
  llvm/compiler-course/llvm-ir/Kholin_K_DivOpt/Kholin_K_DivOpt_pass.cpp
  llvm/test/compiler-course/Kholin_K_DivOpt/test.ll
Labels: lab:llvm ir, tests

#59 Ионова Екатерина. Лабораторная работа 2: LLVM IR. Вариант 1.
  llvm/compiler-course/llvm-ir/ionova_ekaterina_lab_2/CMakeLists.txt
  llvm/compiler-course/llvm-ir/ionova_ekaterina_lab_2/FMAPass.cpp
  llvm/test/compiler-course/ionova_ekaterina_lab_2/test.ll
Labels: lab:llvm ir, tests

#41 Чижов Максим. Лабораторная работа 1. Clang AST. Вариант 3.
  clang/compiler-course/chizhov_m_implicit_conversions/CMakeLists.txt
  clang/compiler-course/chizhov_m_implicit_conversions/chizhov_m_implicit_conversions.cpp
  clang/test/compiler-course/chizhov_m_implicit_conversions/chizhov_m_implicit_conversions.cpp
Labels: lab:clang, delayed, tests

#42 Лысов Иван. Лабораторная работа 1. Clang AST. Вариант 2
  clang/compiler-course/lysov_ivan_1stLabs/CMakeLists.txt
  clang/compiler-course/lysov_ivan_1stLabs/lysov_ivan_1stLabs.cpp
  clang/test/compiler-course/lysov_ivan_1stLabsTests/test.cpp
Labels: lab:clang, delayed, tests
